*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(173, 164, 164);
}

a{
    text-decoration: none;
    color: rgb(255, 254, 254);
}
.directing_buttons:hover{
    text-decoration: none;
    color:black
}
.heading{  
    font-size: 30px;
    color: rgb(245, 230, 225);
    background-color: rgb(186, 57, 57);
}
.option{
    /* padding: 5px; */
    font-size: 20px;
    text-decoration: none;
}

.branches{
    background-color: rgb(186, 57, 57);
    height: 470px;
    font-size: 20px;
    color: white;
    padding-top: 80px;
}
button{
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.registration_page{
    padding: 10px;
}
.branch_option{
    padding-bottom: 80px;
}
#cart_header{
    font-size: 20px;

}
.form_headings{
    padding: 20px;
}
/* .registration_button:hover{
    text-decoration: none;
    color:black
} */
